body {
    margin: 0em;
  }
  
  .dog {
    height: 400px;
    color: #0AF00D;
    font-family: "Segoe UI";
    text-align: center;
    background-image: url(/img/vincent-van-zalinge-v3k7Ub4lnGk-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .cat {
    height: 400px;
    color: #0AF00D;
    font-family: "Segoe UI";
    text-align: center;
    background-image: url(/img/anna-yablonskaya-OKcmHlcthJI-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  